div#wall div.tag-1, div#wall div#tag-2,div#wall div#tag-3.slick.wicked, div#wall div#tag-4, div#wall .parent div#tag-5.slick {
  display: none;
}

body  div#wall div.tag-1 ~ div.parent div + div > div#tag-6 {
  display: none
}

body  div#wall div.tag-1 ~ div.parent  > div:first-child > div#tag-7 {
  display: none
}
